*{
    position: relative;
}
body{
    background: rgb(255, 255, 255);
   
}
.AboutUs{
    width: 80%;
    margin: 0 auto;
}
.AboutUs > h2{
    font-size: 26px;
    font-weight: 800;
    
}
.slick-slide > div{
    margin: 0 10px;
    
}
.slick-list{
    margin:0 -10px;
    
}
.card{
    background-color: #fff;
    border:1px;
    border-radius: 8px;
    overflow: hidden;
    height: 500px;
    width: 50%;
  
}
.card-bottom h1 {
    font-size: 24px;
    padding-left: 20px;
}
.card-top > img{
    width: 350px;
    height: 350px;
    object-fit: fill;


}
.card-bottom{
    margin: 10px 20px;
}