*{
    position: relative;
}
body{
    background: rgb(255, 255, 255);
   
}
.AboutUs{
    width: 80%;
    margin: 0 auto;
}
.AboutUs > h2{
    font-size: 26px;
    font-weight: 800;
    
}
.slick-slide > div{
    margin: 0 10px;
    
}
.slick-list{
    margin:0 -10px;
    
}
.card{
    background-color: #111827;
    border:1px;
    border-radius: 8px;
    overflow: hidden;
    height: 500px;
    width: 50%;
  
}
.font-big {
    font-size: 22px;
}
.card-top > img{
    width: 300px;
    height: 300px;
    object-fit: fill;


}
.card-bottom{
    margin: 10px 20px;
}